{% extends 'app/base.html' %}
{% load static  %}
{% block title %}  Password Reset done {% endblock title %}

{% block main-content %}
<div class="container my-5">
<div class="row">
<h3> welcome </h3>
<div class="col-sm-2 border-end">
<ul class="list-unstyled">
<li class="d-grid"><a href="{% url 'profile' %}"
class="btn btn-primary"> Change  Done </a></li>
</ul>
</div>
<div class="col-sm-9 offer-sm-1 text-center">
<h3>You have  Successfully reset Your Password </h3>

</div>
</div>
</div>
{% endblock main-content %}